@font-face {
  font-family: "iconfont"; /* Project id 4053370 */
  src: url('static/icon/iconfont.woff2?t=1706338361630') format('woff2'),
       url('static/icon/iconfont.woff?t=1706338361630') format('woff'),
       url('static/icon/iconfont.ttf?t=1706338361630') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-gengduochaxun:before {
  content: "\e69b";
}

.icon-liebiao:before {
  content: "\e608";
}

